.xans-member-updateeventlogon {
    overflow: hidden;
    margin: 14px 7px 10px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    color: #353535;
    line-height: 1.5;
    font-size: 11px !important;
}

.mypage_wrap .mypage_cont {
    width: 500px !important;
}

.ec-base-button {
    margin: 30px auto 0 !important;
}