.xans-myshop-asyncbenefit {
    margin: 0;
    color: #353535;
}

.xans-myshop-asyncbenefit .typeMember .information {
    padding: 0;
}

.xans-myshop-asyncbenefit .description {
    font-size: 13px;
    font-weight: 300;
    color: #000;
    padding: 6px 0;
}

.xans-myshop-asyncbenefit .description span,
.xans-myshop-asyncbenefit .description strong {
    font-size: 13px;
    font-weight: 300;
}

.xans-myshop-asyncbenefit .invite>strong {
    display: block;
}

.xans-myshop-asyncbenefit .invite .copy {
    margin: 8px 0 0;
}

.xans-myshop-asyncbenefit .invite #reco_url {
    width: 439px;
}

.xans-myshop-asyncbenefit .invite ul {
    margin: 8px 0 0;
    font-size: 13px;
    line-height: 1.25;
    color: #757575;
}

.xans-myshop-asyncbenefit .invite ul li {
    margin: 3px 0 0;
}