.xans-board-commentdel {
    margin: 14px 7px 0;
    padding: 0 0 29px;
    line-height: 1.5;
}

.xans-board-commentdel h3 {
    color: #2e2e2e;
    text-align: center;
    line-height: 43px;
}

.xans-board-commentdel .comment {
    margin: -1px 0 0;
    background: #fff;
}

.xans-board-commentdel .comment fieldset {
    margin: 0 auto;
    padding: 14px 0px;
    width: 179px;
}

.xans-board-commentdel .info {
    padding: 0 0 30px;
    text-align: center;
}

.xans-board-commentdel .password label {
    display: none;
}